@import "~normalize.css";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

@import "screen.css";

$r: 20px;
$break-small: 650px;

html {
  background: url('../images/beautiful sunrise 2 mod.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  padding-top: 2em;
  background-color: transparent;
}

.content {
  background: rgba(255, 255, 255, .7);
  &:first-child {border-radius: $r;}
  &:nth-child(2) { border-radius: $r $r 0 0; }
  &:last-child { border-radius: 0 0 $r $r; }
}

h1 {
  font-size: 1.5em;
}

$contactMeSize: 1.6em;
@mixin icon-from-image($url) {
  height: $contactMeSize;
  width: $contactMeSize;
  background: url($url) no-repeat center center;
  background-size: 100%;
  vertical-align: bottom;
}
.contact-me {
  text-align: center;
  margin: 0;
  a, a:hover {
    display: inline-block;
    text-decoration: none;
    margin: $contactMeSize / 2 $contactMeSize / 2;
    line-height: 140%;
  }
  i {
    font-size: $contactMeSize;
  }
  .fa-twitter {
    color: #00aced;
  }
  .fa-linkedin {
    color: #007bb6;
  }
  .fa-github, .fa-instagram {
    color: black;
  }
  .icon-careers {
    @include icon-from-image('../images/careers-icon.png');
  }
  .icon-stackoverflow {
    @include icon-from-image('../images/so-icon.png')
  }
}

.rot13, .blog-link {
  text-align: center;
}

.projects {
  margin-top: 2em;
  // margin-bottom: 0;
  padding-bottom: 0;
  overflow: hidden;
  h3 { clear: both; }
  img {
    float: right;
    display: inline-block;
    margin: 0 0 4em 1em;
    width: 100%;
    max-width: 338px;
    @media screen and (max-width: $break-small) {
      display: block;
      float: none;
      margin: 0.5em auto;
    }
  }
}

.footer {
  font-size: 1em;
  text-align: center;
}
