@import "compass_twitter_bootstrap_responsive";

$fontAwesomePath: "../components/font-awesome/font";
@import "font-awesome/sass/font-awesome.sass";

$r: 20px;
$break-small: 650px;

html {
  background: url('../images/beautiful sunrise 2 mod.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  padding-top: 2em;
  background-color: transparent;
}

.content {
  background: rgba(255, 255, 255, .7);
  &:first-child {border-radius: $r;}
  &:nth-child(2) { border-radius: $r $r 0 0; }
  &:last-child { border-radius: 0 0 $r $r; }
}

h1 {
  font-size: 1.5em;
}

$contactMeSize: 3em;
@mixin icon-from-image($url) {
  height: $contactMeSize;
  width: $contactMeSize;
  background: url($url) no-repeat center center;
  background-size: 100%;
  vertical-align: bottom;
}
.contact-me {
  margin-top: 2em;
  p { text-align: center; }
  a, a:hover {
    display: inline-block;
    text-decoration: none;
    margin: 0 5%;
    line-height: 140%;
  }
  i {
    font-size: $contactMeSize;
  }
  .icon-twitter-sign {
    color: #00aced;
  }
  .icon-linkedin-sign {
    color: #007bb6;
  }
  .icon-github-sign {
    color: $black;
  }
  .icon-careers {
    @include icon-from-image('../images/careers-icon.png');
  }
  .icon-stackoverflow {
    @include icon-from-image('../images/se-icon.png')
  }
}

.projects {
  overflow: hidden;
  h3 { clear: both; }
  a:visited { color: #551a8b; }
  img {
    float: right;
    display: inline-block;
    margin: 0 0 1em 1em;
    width: 100%;
    max-width: 338px;
    @media screen and (max-width: $break-small) {
      display: block;
      float: none;
      margin: 0.5em auto;
    }
  }
}
