* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  padding: 0;
}

body,html {
  margin: 0;
  width: 100%;
}

body {
  height: 100%;
  padding: 1em;
  font-family: Alegreya,Palatino,Georgia,serif;
  color: #444;
}

a,a:visited {
  color: #444;
  transition: color .3s ease;
}

a:hover {
  color: #000;
}

.content {
  padding: .809em;
  max-width: 30em;
  margin: auto;
}

.content>footer {
  margin-top: 4em;
  margin-bottom: 2em;
  border-top: 1px solid #eee;
  display: none;
}

article>h1:first-child {
  display: none;
}

article h1,article h2,article h3,article h4,article h5 {
  font-weight: 400;
  margin-top: 2em;
  color: #000;
}

article h1,article h2 {
  font-size: 1.5em;
}

article h3 {
  font-family: Alegreya SC,Palatino,Georgia,serif;
  font-weight: 400;
  text-transform: lowercase;
}

article h4 {
  font-size: 1em;
  font-style: italic;
}

article h5 {
  font-style: normal;
}

article ul {
  list-style-position: outside;
  padding: 0;
}

article img {
  max-width: 100%;
}

@media (min-width:33.236em) {
  .content {
    padding: 1.618em;
    margin: 0 auto;
    max-width: 45rem;
    font-size: 1.25em;
  }
}

@media (min-width:33.236em) and screen and (min-width:30em) and (max-width:63.236em) {
  .content {
    width: 30em;
  }
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

html {
  line-height: 1.15;
}

article,footer,section {
  display: block;
}

a {
  -webkit-text-decoration-skip: objects;
}

b {
  font-weight: inherit;
  font-weight: bolder;
}

img {
  border-style: none;
}

button,input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button,input {
  overflow: visible;
}

[type=reset],[type=submit],button,html [type=button] {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=checkbox],[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

canvas {
  display: inline-block;
}

[hidden] {
  display: none;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.eot?674f50d2);
  src: url(../fonts/fontawesome-webfont.eot?674f50d2?#iefix&v=4.7.0) format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff2?af7ae505) format("woff2"),url(../fonts/fontawesome-webfont.woff?fee66e71) format("woff"),url(../fonts/fontawesome-webfont.ttf?b06871f2) format("truetype"),url(../fonts/fontawesome-webfont.svg?d139fdde#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul>li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: .14286em;
  text-align: center;
}

.fa-border {
  padding: .2em .25em .15em;
  border: .08em solid #eee;
  border-radius: .1em;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-music:before {
  content: "\F001";
}

.fa-search:before {
  content: "\F002";
}

.fa-lock:before {
  content: "\F023";
}

.fa-font:before {
  content: "\F031";
}

.fa-text-height:before {
  content: "\F034";
}

.fa-text-width:before {
  content: "\F035";
}

.fa-align-center:before {
  content: "\F037";
}

.fa-list:before {
  content: "\F03A";
}

.fa-image:before {
  content: "\F03E";
}

.fa-adjust:before {
  content: "\F042";
}

.fa-play:before {
  content: "\F04B";
}

.fa-twitter:before {
  content: "\F099";
}

.fa-github:before {
  content: "\F09B";
}

.fa-rss:before {
  content: "\F09E";
}

.fa-users:before {
  content: "\F0C0";
}

.fa-link:before {
  content: "\F0C1";
}

.fa-list-ul:before {
  content: "\F0CA";
}

.fa-linkedin:before {
  content: "\F0E1";
}

.fa-building-o:before {
  content: "\F0F7";
}

.fa-html5:before {
  content: "\F13B";
}

.fa-stack-overflow:before {
  content: "\F16C";
}

.fa-instagram:before {
  content: "\F16D";
}

.fa-google:before {
  content: "\F1A0";
}

.fa-language:before {
  content: "\F1AB";
}

.fa-building:before {
  content: "\F1AD";
}

.fa-send:before {
  content: "\F1D8";
}

.fa-send-o:before {
  content: "\F1D9";
}

.fa-copyright:before {
  content: "\F1F9";
}

.fa-i-cursor:before {
  content: "\F246";
}

.fa-chrome:before {
  content: "\F268";
}

.fa-500px:before {
  content: "\F26E";
}

.fa-edge:before {
  content: "\F282";
}

.fa-fa:before,.fa-font-awesome:before {
  content: "\F2B4";
}

.fa-s15:before {
  content: "\F2CD";
}

/*!
Pure v0.6.2
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/

/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

.pure-button:focus,a:active,a:hover {
  outline: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,footer,section {
  display: block;
}

canvas {
  display: inline-block;
  vertical-align: baseline;
}

[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

button,input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.pure-button,input {
  line-height: normal;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type=checkbox],input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

.pure-button,.pure-form input:not([type]) {
  box-sizing: border-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.hidden,[hidden] {
  display: none!important;
}

.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pure-g {
  letter-spacing: -.31em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,Droid Sans,Helvetica,Arial,sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.pure-g {
  word-spacing: -.43em;
}

.pure-u,.pure-u-1,.pure-u-1-1,.pure-u-1-2,.pure-u-1-3,.pure-u-1-4,.pure-u-1-5,.pure-u-1-6,.pure-u-1-8,.pure-u-1-12,.pure-u-1-24,.pure-u-2-3,.pure-u-2-5,.pure-u-2-24,.pure-u-3-4,.pure-u-3-5,.pure-u-3-8,.pure-u-3-24,.pure-u-4-5,.pure-u-4-24,.pure-u-5-5,.pure-u-5-6,.pure-u-5-8,.pure-u-5-12,.pure-u-5-24,.pure-u-6-24,.pure-u-7-8,.pure-u-7-12,.pure-u-7-24,.pure-u-8-24,.pure-u-9-24,.pure-u-10-24,.pure-u-11-12,.pure-u-11-24,.pure-u-12-24,.pure-u-13-24,.pure-u-14-24,.pure-u-15-24,.pure-u-16-24,.pure-u-17-24,.pure-u-18-24,.pure-u-19-24,.pure-u-20-24,.pure-u-21-24,.pure-u-22-24,.pure-u-23-24,.pure-u-24-24 {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  display: inline-block;
  zoom: 1;
}

.pure-g [class*=pure-u] {
  font-family: sans-serif;
}

.pure-u-1-24 {
  width: 4.1667%;
}

.pure-u-1-12,.pure-u-2-24 {
  width: 8.3333%;
}

.pure-u-1-8,.pure-u-3-24 {
  width: 12.5%;
}

.pure-u-1-6,.pure-u-4-24 {
  width: 16.6667%;
}

.pure-u-1-5 {
  width: 20%;
}

.pure-u-5-24 {
  width: 20.8333%;
}

.pure-u-1-4,.pure-u-6-24 {
  width: 25%;
}

.pure-u-7-24 {
  width: 29.1667%;
}

.pure-u-1-3,.pure-u-8-24 {
  width: 33.3333%;
}

.pure-u-3-8,.pure-u-9-24 {
  width: 37.5%;
}

.pure-u-2-5 {
  width: 40%;
}

.pure-u-5-12,.pure-u-10-24 {
  width: 41.6667%;
}

.pure-u-11-24 {
  width: 45.8333%;
}

.pure-u-1-2,.pure-u-12-24 {
  width: 50%;
}

.pure-u-13-24 {
  width: 54.1667%;
}

.pure-u-7-12,.pure-u-14-24 {
  width: 58.3333%;
}

.pure-u-3-5 {
  width: 60%;
}

.pure-u-5-8,.pure-u-15-24 {
  width: 62.5%;
}

.pure-u-2-3,.pure-u-16-24 {
  width: 66.6667%;
}

.pure-u-17-24 {
  width: 70.8333%;
}

.pure-u-3-4,.pure-u-18-24 {
  width: 75%;
}

.pure-u-19-24 {
  width: 79.1667%;
}

.pure-u-4-5 {
  width: 80%;
}

.pure-u-5-6,.pure-u-20-24 {
  width: 83.3333%;
}

.pure-u-7-8,.pure-u-21-24 {
  width: 87.5%;
}

.pure-u-11-12,.pure-u-22-24 {
  width: 91.6667%;
}

.pure-u-23-24 {
  width: 95.8333%;
}

.pure-u-1,.pure-u-1-1,.pure-u-5-5,.pure-u-24-24 {
  width: 100%;
}

.pure-button {
  display: inline-block;
  zoom: 1;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: .5em 1em;
  color: #444;
  color: rgba(0,0,0,.8);
  border: 1px solid #999;
  border: transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover,.pure-button:focus,.pure-button:hover {
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.pure-button:active {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15),inset 0 0 6px rgba(0,0,0,.2);
  border-color: #000\9;
}

.pure-button[disabled] {
  border: none;
  background-image: none;
  filter: alpha(opacity=40);
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.pure-button-hidden {
  display: none;
}

.pure-form input[type=color],.pure-form input[type=date],.pure-form input[type=datetime-local],.pure-form input[type=datetime],.pure-form input[type=email],.pure-form input[type=month],.pure-form input[type=number],.pure-form input[type=password],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=text],.pure-form input[type=time],.pure-form input[type=url],.pure-form input[type=week] {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.pure-form input:not([type]) {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
}

.pure-form input[type=color] {
  padding: .2em .5em;
}

.pure-form input:not([type]):focus,.pure-form input[type=color]:focus,.pure-form input[type=date]:focus,.pure-form input[type=datetime-local]:focus,.pure-form input[type=datetime]:focus,.pure-form input[type=email]:focus,.pure-form input[type=month]:focus,.pure-form input[type=number]:focus,.pure-form input[type=password]:focus,.pure-form input[type=search]:focus,.pure-form input[type=tel]:focus,.pure-form input[type=text]:focus,.pure-form input[type=time]:focus,.pure-form input[type=url]:focus,.pure-form input[type=week]:focus {
  outline: 0;
  border-color: #129fea;
}

.pure-form input[type=checkbox]:focus,.pure-form input[type=file]:focus,.pure-form input[type=radio]:focus {
  outline: 1px auto #129fea;
}

.pure-form input:not([type])[disabled],.pure-form input[type=color][disabled],.pure-form input[type=date][disabled],.pure-form input[type=datetime-local][disabled],.pure-form input[type=datetime][disabled],.pure-form input[type=email][disabled],.pure-form input[type=month][disabled],.pure-form input[type=number][disabled],.pure-form input[type=password][disabled],.pure-form input[type=search][disabled],.pure-form input[type=tel][disabled],.pure-form input[type=text][disabled],.pure-form input[type=time][disabled],.pure-form input[type=url][disabled],.pure-form input[type=week][disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}

.pure-form input:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type=checkbox]:focus:invalid:focus,.pure-form input[type=file]:focus:invalid:focus,.pure-form input[type=radio]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-3-4 {
  width: 75%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

.pure-form .pure-help-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em;
}

@media only screen and (max-width:480px) {
  .pure-form button[type=submit] {
    margin: .7em 0 0;
  }

  .pure-form input:not([type]),  .pure-form input[type=color],  .pure-form input[type=date],  .pure-form input[type=datetime-local],  .pure-form input[type=datetime],  .pure-form input[type=email],  .pure-form input[type=month],  .pure-form input[type=number],  .pure-form input[type=password],  .pure-form input[type=search],  .pure-form input[type=tel],  .pure-form input[type=text],  .pure-form input[type=time],  .pure-form input[type=url],  .pure-form input[type=week] {
    margin-bottom: .3em;
    display: block;
  }

  .pure-form .pure-help-inline {
    display: block;
    font-size: .75em;
    padding: .2em 0 .8em;
  }
}

html {
  background-color: #ddd;
}

body {
  padding-top: 2em;
  background-color: transparent;
}

.title {
  text-align: center;
}

.title #logo {
  vertical-align: middle;
  width: 90px;
}

.contact-column {
  text-align: center;
  padding-left: 1rem;
}

.content {
  background: hsla(0,0%,100%,.7);
}

.content:first-child {
  border-radius: 20px;
}

.content:nth-child(2) {
  border-radius: 20px 20px 0 0;
}

.content:last-child {
  border-radius: 0 0 20px 20px;
}

h1 {
  font-size: 1.5em;
}

.contact-me {
  text-align: center;
  margin: 0;
}

.contact-me a,.contact-me a:hover {
  display: inline-block;
  text-decoration: none;
  margin: .8em;
  line-height: 140%;
}

.contact-me i {
  font-size: 1.6em;
}

.contact-me .fa-twitter {
  color: #00aced;
}

.contact-me .fa-linkedin {
  color: #007bb6;
}

.contact-me .fa-github,.contact-me .fa-instagram {
  color: #000;
}

.contact-me .icon-careers {
  height: 1.6em;
  width: 1.6em;
  background: url(../images/careers-icon.png?1a23bb3f) no-repeat 50%;
  background-size: 100%;
  vertical-align: bottom;
}

.contact-me .icon-stackoverflow {
  height: 1.6em;
  width: 1.6em;
  background: url(../images/so-icon.png?c253f508) no-repeat 50%;
  background-size: 100%;
  vertical-align: bottom;
}

.blog-link,.rot13 {
  text-align: center;
}

.projects {
  margin-top: 2em;
  padding-bottom: 0;
  overflow: hidden;
}

.projects h3 {
  clear: both;
}

.projects img {
  float: right;
  display: inline-block;
  margin: 0 0 4em 1em;
  width: 100%;
  max-width: 338px;
}

@media screen and (max-width:650px) {
  .projects img {
    display: block;
    float: none;
    margin: .5em auto;
  }
}

.footer {
  font-size: 1em;
  text-align: center;
}

#universe {
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

::-moz-selection {
  background: #fff!important;
  color: #444!important;
}

::selection {
  background: hsla(0,0%,100%,0)!important;
  color: #444!important;
}