# ----------------------
# Flask
# ----------------------
Flask==0.12.1
Flask-S3==0.3.3
whitenoise==3.3.0


# ----------------------
# Testing
# ----------------------
mock==1.0.1


# ----------------------
# Production Server
# ----------------------
gevent==1.2.1
gunicorn==19.7.1

# API
Flask-RESTful==0.2.1

# Storage
redis==2.7.2

# monitoring
newrelic==2.84.0.64

# network
requests==1.2.0

## The following requirements were added by pip --freeze:
appdirs==1.4.3
boto==2.46.1
greenlet==0.4.12
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
pycrypto==2.6.1
pyparsing==2.2.0
six==1.10.0
Werkzeug==0.12.1
