# ----------------------
# Flask
# ----------------------
Flask==0.9
Flask-S3==0.1.4


# ----------------------
# Testing
# ----------------------
mock==1.0.1


# ----------------------
# Production Server
# ----------------------
gevent==0.13.8
gunicorn==0.17.2

# API
Flask-RESTful==0.2.1

# Storage
redis==2.7.2

# monitoring
newrelic==1.11.0.55

# network
requests==1.2.0

## The following requirements were added by pip --freeze:
Jinja2==2.6
Werkzeug==0.8.3
argparse==1.2.1
distribute==0.6.34
greenlet==0.4.0
pycrypto==2.6
wsgiref==0.1.2
boto==2.9.5