<section class="content">
  <h1>Hi! I'm Maxime Rouyrre.</h1>
  <p>I'm an Entrepreneur, UX Designer & Full-stack Web Engineer.</p>
  <p>
    Currently available as an independent contractor for consulting.
  </p>
  <p>You can meet me in Paris, France. Working together would be a great way to improve our skill sets.</p>
</section>

<section class="content contact-me">
  <h2>Contact me, I solve problems:</h2>
  <p>
    <a href="https://twitter.com/maxMRE" title="Twitter"><i class="icon-twitter-sign"></i></a>
    <a href="http://fr.linkedin.com/pub/maxime-rouyrre/28/a6/728/" title="Linkedin"><i class="icon-linkedin-sign"></i></a>
    <a href="https://github.com/blaze33" title="Github"><i class="icon-github-sign"></i></a>
    <a href="http://careers.stackoverflow.com/maxmre" title="Careers 2.0" class="icon-careers"> </a>
    <a href="http://stackoverflow.com/users/343834/maxime-r" title="Stackoverflow" class="icon-stackoverflow"> </a>
  </p>
</section>

<section class="content projects">
  <h2>Ongoing projects:</h2>
  <h3>VeloVoice <a href="http://velovoice.launchrock.com"><img src="http://s3-eu-west-1.amazonaws.com/openbloc/images/projects/24426bfe.velovoice.jpg"></a></h3>
  <p>
    A smart bike lock that will send you an sms when suspicious activity takes place.
  </p>
  <p><em>2013-05-11/12: <a href="http://www.hackathon.io/projects/1654">AngelHack Paris Spring 2013</a></em></p>

  <h3>Yamojo <a href="http://www.yamojo.fr"><img src="http://s3-eu-west-1.amazonaws.com/openbloc/images/projects/2ea62450.yamojo.jpg"></a></h3>
  <p>The collaborative playlist:</p>
  <p>Yamojo lets you suggest and vote for the next song to play.</p>
  <p><em>2013-04-20/21: <a href="https://www.hackerleague.org/hackathons/music-hack-day-paris-13/hacks/yamojo">Music Hack Day Paris '13</a></em></p>

  <h3>Newco <a href="http://newco-prod.herokuapp.com"><img src="http://s3-eu-west-1.amazonaws.com/openbloc/images/projects/b4b19243.newco.jpg"></a></h3>
  <p>Your collective shopper!</p>
  <p>Newco is a startup project aiming to help you make faster and smarter purchase decisions.</p>
  <p><em>2012-2013</em></p>

  <h3>GR5 <a href="http://gr5.herokuapp.com"><img src="http://s3-eu-west-1.amazonaws.com/openbloc/images/projects/e50c58aa.gr5.jpg"></a></h3>
  <p>Microblogging for hikers.</p>
  <p><em>Summer 2012</em></p>
</section>