<section class="content">
  <h1>Hi! I'm Maxime Rouyrre.</h1>
  <p>I'm an Entrepreneur, UX Designer & Full-stack Web Engineer.</p>
  <p>
  Currently available as an independent contractor for consulting.
  </p>
  <p>You can meet me in Paris, France. Working together would be a great way to improve our skill sets.</p>
</section>

<section class="content contact-me">
  <h3>Contact me, I solve problems:</h3>
  <p>
    <a href="https://twitter.com/maxMRE" title="Twitter"><i class="icon-twitter-sign"></i></a>
    <a href="http://fr.linkedin.com/pub/maxime-rouyrre/28/a6/728/" title="Linkedin"><i class="icon-linkedin-sign"></i></a>
    <a href="https://github.com/blaze33" title="Github"><i class="icon-github-sign"></i></a>
    <a href="http://careers.stackoverflow.com/maxmre" title="Careers 2.0" class="icon-careers"> </a>
    <a href="http://stackoverflow.com/users/343834/maxime-r" title="Stackoverflow" class="icon-stackoverflow"> </a>
  </p>
</section>