<div class="hero-unit">
  <h1>Hi! I'm Maxime Rouyrre</h1>
  <br>
  <p>I'm an Entrepreneur, UX Designer & Full-stack Web Engineer.</p>

I have some time available as an independent contractor for consulting as a good way to meet new people doing real work together while improving my skill set.

  <section class="contact-me">
    <h3>Keep in touch:</h3>
    <p>
    <a href="https://twitter.com/maxMRE"><i class="icon-twitter-sign"></i></a>
    <a href="https://github.com/blaze33"><i class="icon-github-sign"></i></a>
    <a href="fr.linkedin.com/pub/maxime-rouyrre/28/a6/728/"><i class="icon-linkedin-sign"></i></a>
    </p>
  </section>
</div>
